<template>
  <div class="app">
    <div>
      <router-link to="/settings-page">Settings</router-link> |
      <router-link to="/game-board-page">Game board</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.app {
  width: max(30%, 600px);
  margin: 0 auto;
}
</style>
